* {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	position: relative;
	overflow-x: hidden;
	color: $grey-light;
	background-color: #fff;
	font-family: $sans;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
}

h1,
h2,
h3,
h4,
h5 {
	text-transform: uppercase;
	font-family: $rale;
	font-weight: 700;
}

h1 {
	font-size: 35px; //2.5rem
}

h2 {
	font-size: 23px; // 1.643rem
}

h3 {
	font-size: 20px; // 1.43rem
}

h4 {
	font-size: 15px; // 1.07rem
}

section {
	h2 {
		margin-bottom: 112px;
		text-align: center;
		text-transform: uppercase;
		color: #2c2e37;
		line-height: 33px;

		&::before {
			content: '';
			display: block;
			width: 81px;
			height: 7px;
			margin: 0 auto 31px;
			text-indent: -9999px;
			background: url('../img/svg/waves.svg');
			background-size: 81px 7px;
		}

		@include media-breakpoint-down(md) {
			margin-bottom: 70px;
		}
	}
}
