$font-path: '../fonts/';

@font-face {
    font-family: 'Aller';
    src: url('#{$font-path}aller_bd.eot');
    src: url('#{$font-path}aller_bd.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}aller_bd.woff2') format('woff2'),
         url('#{$font-path}aller_bd.woff') format('woff'),
         url('#{$font-path}aller_bd.ttf') format('truetype'),
         url('#{$font-path}aller_bd.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
