@mixin clearfix {
  &:after, {
    content: "";
    display: table;
    clear: both;
  }
  &:before {
  	content: "";
  	display: table;
  }
}

@mixin vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@mixin sprite-img {
  display: inline-block;
  background-image: url('../img/sprite/for_sprite.png');
}

@mixin img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

@mixin button-reset {
	background: none;
	border: 0;
}
//
// @include media-breakpoint-up(xs) { ... }
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }
