// fonts
$rale: 'Raleway', sans-serif;
$sans: 'Open Sans', sans-serif;

//colors
$grey-trans: rgba(255, 255, 255, 0.1);
$grey-dark: #2c2e37;

$grey-light: #949494;

$grey-icon: #7c7e88;
$grey-dark-icon: rgba(0, 0, 0, 0.4);

$button-red: #f84444;
