.footer {
	min-height: 300px;
	padding: 75px 0 45px;
	color: #fff;
	background-color: $grey-dark;
}

.footer-wrap {
	justify-content: space-between;
	flex-wrap: wrap;

	@include media-breakpoint-down(sm) {
		flex-direction: column;
		margin: 0;
	}
}

.footer-logo-wrap,
.footer-nav,
.footer-social,
.footer-feedback {
	@include media-breakpoint-down(sm) {
		margin-bottom: 30px;
	}
}

// logo

.footer-logo {
	width: 17px;
	height: 17px;
	fill: #fff;
}

// footer nav

.footer-nav {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;
	width: 270px;
	max-height: 160px;

	a {
		height: 25%;
		color: #fff;
		font-size: 13px;
		font-weight: 400;

		&:hover,
		&:focus {
			text-decoration: none;
			color: #fff;
		}
	}

	@include media-breakpoint-down(sm) {
		height: 160px;
	}
}

//social

.footer-social {
	a {
		text-decoration: none;
	}

	@include media-breakpoint-down(lg) {
		order: 2;
		width: 100%;
		margin-top: 40px;
		text-align: center;
	}
}

.footer-twitter {
	width: 17px;
	height: 14px;
	fill: #fff;
}

.footer-facebook {
	width: 7px;
	height: 16px;
	fill: #fff;
	margin-right: 16px;
}

//feedback

.footer-feedback {
	h5 {
		margin: 0 0 12px;
		font-family: $sans;
		font-size: 14px;
		font-weight: 400;
	}

	p {
		font-size: 12px;
		line-height: 40px;
	}

	form {
		position: relative;
		width: 339px;
		height: 40px;
		border: 2px solid $grey-trans;
	}

	input {
		width: 100%;
		height: 36px;
		padding: 0 40px 0 17px;
		color: #fff;
		border: 0;
		border-radius: 0;
		outline: 0;
		background-color: transparent;
		line-height: 36px;

		&::placeholder {
			color: $grey-trans;
		}
	}

	button {
		position: absolute;
		top: 0;
		right: 16px;
		border: 0;
		border-radius: 0;
		outline: 0;
		background-color: transparent;
		line-height: 36px;
	}

	@include media-breakpoint-down(lg) {
		width: 340px;
	}

	@include media-breakpoint-down(sm) {
		width: auto;
	}

	@include media-breakpoint-down(sm) {
		form {
			width: 100%;
		}

		p,
		h4 {
			line-height: 28px;
		}
	}
}

.footer-arrow {
	width: 10px;
	height: 10px;
	fill: $grey-trans;
	margin-top: -3px;
}
