.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	color: #fff;
	background: #000 url('../img/header-bg.jpg') no-repeat center center;
	background-size: cover;

	@include media-breakpoint-down(sm) {
		height: 600px;
	}
}

.header-wrap {
	height: 100%;
}

// header main content

.header-topic {
	text-align: center;
	font-weight: 800;

	h1 {
		letter-spacing: 60px;
		font-size: 35px;

		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
}

.header-topic-subhead {
	display: inline-block;
	margin-bottom: 20px;
	padding: 8px 12px;
	text-transform: uppercase;
	background-color: $button-red;
	font-family: $rale;
	font-size: 17px;
}

//header top line

.header-top-line {
	position: absolute;
	top: 40px;
	width: 100%;
	padding: 0 35px;
}

.header-logo-icon {
	width: 25px;
	height: 25px;
	fill: $grey-icon;
}

.header-top-line-right {
	float: right;

	a {
		margin-left: 35px;
	}
}

.header-search-icon {
	width: 20px;
	height: 20px;
	margin-bottom: -2px;
	fill: $grey-icon;
}

.header-menu-icon {
	width: 23px;
	height: 17px;
	fill: $grey-icon;
}

// arrow to content

.header-arrow {
	position: absolute;
	bottom: 45px;
	left: 50%;
	transform: translateX(-50%);
}

.header-arrow-icon {
	width: 10px;
	height: 9px;
	fill: #fff;
	transform: rotate(90deg);
}
