.profiles {
	padding: 40px 0 8px;
}

.profiles__wrap {
	justify-content: space-between;

	@include media-breakpoint-down(sm) {
		margin: 0;
	}
}

.profile {
	width: 330px;
	margin-bottom: 65px;

	h4 {
		margin: 0;
		text-transform: capitalize;
		color: $grey-dark;
		line-height: 26px;
	}

	.thiner {
		text-transform: uppercase;
		font-weight: 500;
	}

	.separator {
		width: 30px;
		height: 2px;
		margin: 23px 0;
		opacity: 0.2;
		background-color: #191919;
	}

	p {
		margin: 0;
		color: $grey-light;
	}

	@include media-breakpoint-down(sm) {
		width: auto;
	}
}

.profile-content {
	margin-top: 47px;
}

.profile__img {
	@include img-responsive;

	width: 330px;

	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}

.profile-social {
	margin-top: 27px;

	a {
		text-decoration: none;
	}
}

.profile-twitter {
	width: 17px;
	height: 14px;
	fill: $grey-dark-icon;
	margin-right: 20px;
}

.profile-facebook {
	width: 7px;
	height: 16px;
	fill: $grey-dark-icon;
}
