.projects {
	max-height: 600px;
	margin-bottom: 600px;
	padding: 80px 0 0;
	background-color: $grey-dark;

	h2 {
		margin-bottom: 15px;
		color: #fff;

		&::before {
			display: none;
		}
	}

	& > .container > p {
		width: 550px;
		margin: 0 auto;
		text-align: center;
		color: $grey-light;

		@include media-breakpoint-down(sm) {
			width: auto;
		}
	}

	& .container {
		@include media-breakpoint-down(lg) {
			max-width: 100%;
			padding: 0;
		}
	}

	@include media-breakpoint-down(lg) {
		margin-bottom: 500px;
	}

	@include media-breakpoint-down(md) {
		margin-bottom: 550px;
	}

	@include media-breakpoint-down(sm) {
		margin-bottom: 700px;
	}

	@include media-breakpoint-down(xs) {
		margin-bottom: 400px;
	}
}

.projects-buttons {
	margin-top: 26px;
	text-align: center;

	a {
		display: inline-block;
		width: 130px;
		height: 40px;
		margin: 0 8px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		color: #fff;
		border: 2px solid rgba(255, 255, 255, 0.2);
		font-family: $rale;
		font-size: 12px;
		line-height: 36px;
	}

	.red {
		color: #fff;
		border-color: $button-red;
		background-color: $button-red;
	}
}
