.slider-wrapper {
	position: relative;
	height: 1000px;
	margin-top: 100px;
}

.slider {
	position: relative;
	z-index: 1;
	overflow: hidden;
	height: 100%;
	margin: 50px 0 0;
	padding: 0;
	list-style-type: none;

	@include media-breakpoint-down(sm) {
		padding: 0 15px;
	}
}

.slider-prev,
.slider-next {
	position: absolute;
	z-index: 10;
	top: 30%;
	border: 0;
	border-radius: 0;
	outline: 0;
	background: none;

	@include media-breakpoint-down(md) { display: none; }
}

.slider-next {
	right: -20px;

	@include media-breakpoint-down(lg) { right: 5px; }
}

.slider-prev {
	left: -30px;

	@include media-breakpoint-down(lg) { left: 5px; }
}

.slider-prev-arrow,
.slider-next-arrow {
	width: 10px;
	height: 10px;
	fill: rgba(34, 34, 34, 0.5);
}

.slider-prev-arrow {
	transform: rotate(180deg);
}

.slider-item {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	max-width: 600px;

	@include media-breakpoint-only(lg) {
		max-width: 500px;
	}

	@include media-breakpoint-up(sm) {
		transform: scale(0.75) translateX(735px);
		animation: show 0.3s 1 ease-in-out forwards;
	}

	img {
		@include img-responsive;
	}

	&.shown {
		@include media-breakpoint-up(sm) {
			animation: show 0.3s 1 ease-in-out forwards;
		}

		@include media-breakpoint-down(sm) {
			display: none;
		}
	}

	&.active {
		@include media-breakpoint-up(sm) {
			animation: to-left 0.3s 1 ease-in-out forwards;
		}

		transform: scale(1) translateX(0);

		.slider-item-descr {
			display: block;
		}
	}

	&.hidden {
		animation: hide 0.3s ease-in-out 0s 1 normal forwards;
	}

	&.shown-rev {
		animation: to-left 0.6s ease-in-out 0s 1 reverse forwards;
	}

	&.active-rev {
		animation: showRev 0.3s ease-in-out 0s 1 normal forwards;

		.slider-item-descr {
			display: block;
		}
	}

	&.hidden-rev {
		animation: hide 0.3s ease-in-out 0s 1 normal forwards;
	}

	@include media-breakpoint-down(md) {
		left: 10%;
	}

	@include media-breakpoint-down(sm) {
		position: relative;
		left: 0;
		width: auto;
		max-width: 100%;
	}
}

.slider-item-descr {
	display: none;
	margin-top: 50px;
	text-align: left;

	h3 {
		color: $grey-dark;
	}

	p {
		color: $grey-light;
	}
}

@keyframes to-left {
	0% {
		transform: scale(0.75) translateX(765px);
	}

	100% {
		transform: scale(1) translateX(10px);
	}
}

@keyframes hide {
	0% {
		transform: scale(1) translateX(10px);
		opacity: 1;
	}

	50% {
		transform: scale(1) translateX(10px);
		opacity: 0;
	}

	100% {
		transform: scale(0.75);
		opacity: 0;
	}
}

@keyframes show {
	0% {
		transform: scale(0.75) translateX(765px);
		opacity: 0;
	}

	100% {
		transform: scale(0.75) translateX(765px);
		opacity: 1;
	}
}

@keyframes showRev {
	0% {
		transform: scale(0.75) translateX(10px);
		opacity: 0;
	}

	100% {
		transform: scale(1) translateX(10px);
		opacity: 1;
	}
}

@include media-breakpoint-only(lg) {
	@keyframes to-left {
		0% {
			transform: scale(0.75) translateX(150%);
		}

		100% {
			transform: scale(1) translateX(20%);
		}
	}

	@keyframes hide {
		0% {
			transform: translateX(20%);
			opacity: 1;
		}

		50% {
			transform: translateX(20%);
			opacity: 0;
		}

		100% {
			transform: scale(0.75);
			opacity: 0;
		}
	}

	@keyframes show {
		0% {
			transform: scale(0.75) translateX(150%);
			opacity: 0;
		}

		100% {
			transform: scale(0.75) translateX(150%);
			opacity: 1;
		}
	}
}
