.topic {
	padding: 140px 0 166px;

	& .container {
		@include media-breakpoint-down(lg) {
			max-width: 100%;
		}
	}

	@include media-breakpoint-down(sm) {
		padding: 80px 0;
	}
}

.topic__wrap {
	display: flex;
	align-items: center;

	& > div {
		margin-bottom: 50px;
		padding: 0;
	}
}

.topic__img {
	@include img-responsive;
}

.topic__descr {
	padding: 0 75px;

	h3 {
		color: $grey-dark;
		line-height: 43px;
	}

	p {
		color: $grey-light;
	}

	@include media-breakpoint-down(sm) {
		padding: 0 20px;
	}
}
